# Ignorar archivos de entorno
.env

# Ignorar logs
*.log

# Ignorar archivos de configuración de usuario
*.swp
*.swo
*.bak

# Ignorar archivos de Docker generados
**/tmp/
**/cache/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db 
docker/.env
docker/.env

docker/backups/postgres/

docker/logs/kafka/

docker/logs/mongodb/

docker/logs/command-service/

docker/logs/frontend/

docker/logs/query-service/
